xml/Usuarios_esquema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="login">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="usuario" type="Usuarios" minOccurs="1" maxOccurs="1000"/>
  			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Usuarios">
	  	<xs:sequence>
	  		<xs:element name="nombre" type="xs:string"/>
			<xs:element name="pass"  type="xs:string"/>
			<xs:element name="tipo" type="xs:string"/>
	  	</xs:sequence>
 	</xs:complexType>
</xs:schema>

 